{% extends "base.html" %}

{% block header %}
{% include "navigation.html" %}
{% endblock %}
{% block content %}

<h1 class="text-2xl font-bold m-4">Overview for {{ year }}</h1>

<div class="rounded-lg border p-4 flex flex-col gap-2 m-2 relative">
    <canvas id="ride-chart"></canvas>
</div>

<script>
    const ctx = document.getElementById('ride-chart');

    const distances = `
    {% for distance in distances %}
    {{ distance }},
    {% endfor %}
    `.split(',').map(Number);

    const rides = `
    {% for ride in rides %}
    {{ ride }},
    {% endfor %}
    `.split(',').map(Number);

    let delayed = false;
    new Chart(ctx, {
        data: {
            labels: [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December',
            ],
            datasets: [
                {
                    label: 'Distance Traveled (km)',
                    data: distances,
                    yAxisID: 'distanceAxis',
                    type: 'line',
                    cubicInterpolationMode: 'monotone'
                },
                {
                    label: 'Rides Count',
                    data: rides,
                    yAxisID: 'ridesAxis',
                    type: 'bar',
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                distanceAxis: {
                    min: 0,
                    suggestedMax: 100,
                    position: 'left',
                },
                ridesAxis: {
                    min: 0,
                    suggestedMax: 10,
                    position: 'right',
                    grid: {
                        display: false,
                    }
                }
            },
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 100;
                    }
                    return delay;
                },
            },
        }
    });
</script>

{% endblock %}