<li id="ride-{{ ride.id }}">
    <form hx-get="/ride/{{ ride.id }}/edit" hx-target="#ride-dialog-{{ ride.id }}" hx-swap="outerHTML">
        <button
            class="w-full flex flex-row gap-4 px-4 py-2 cursor-pointer transition-colors hover:bg-neutral-200 rounded-lg">
            <span>{{ ride.date }}</span>
            <span class="grow text-ellipsis overflow-hidden whitespace-nowrap text-left">
                {% match ride.description %}
                {% when Some with (description) %}
                {{ description }}
                {% when _ %}
                {% endmatch %}
            </span>
            <span class="flex flex-row gap-2">
                <b>
                    {{ "{:.3}"|format(ride.distance)|removesuffix("0")|removesuffix(".") }}
                </b>
                km
            </span>
        </button>
    </form>
    <dialog id="ride-dialog-{{ ride.id }}"></dialog>
</li>
