{% extends "base.html" %}

{% block content %}

<ul id="rides">
    {% for (date, rides) in rides %}
    <li>
        <h2>{{ date }}</h2>
        <ul id="rides-{{ date }}">
            {% for ride in rides %}
            {% include "ride.html" %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<form hx-post="/ride" hx-target="#rides" hx-swap="beforeend">
    <input type="date" name="date" value="{{ today }}">
    <input type="number" step="0.001" name="distance">
    <input type="submit" value="Add">
</form>

{% let total = total.total %}
{% include "total.html" %}

{% endblock %}



