{% extends "base.html" %}

{% block content %}

<ul id="rides">
    {% for group in groups %}
    {% let RideGroupTemplate { date, rides, total }  = group %}
    {% include "rides/group.html" %}
    {% endfor %}
</ul>
<form hx-post="/ride" hx-swap="beforeend">
    <div>
        <input name="date" type="date" value="{{ today }}">
        <input name="distance" type="number" step="0.001" placeholder="Distance [km]">
    </div>
    <div>
        <input name="description" type="text" placeholder="Description [optional]">
        <input type="submit" value="Add">
    </div>
</form>

<p>
    <b>
        Total distance:
        <span hx-get="/ride/total" hx-swap="innerHTML" hx-trigger="reload-total from:body">
            {% include "rides/total.html" %}
        </span>
        km
    </b>
</p>

{% endblock %}



