{% extends "base.html" %}

{% block content %}

<ul id="rides">
    {% for group in groups %}
    {% let RideGroupTemplate { date, rides, total }  = group %}
    {% include "rides/group.html" %}
    {% endfor %}
    <li>
        <h2>New</h2>
        <ul id="rides-new"></ul>
    </li>
</ul>
<form hx-post="/ride" hx-target="#rides-new" hx-swap="outerHTML">
    <div>
        <input name="date" type="date" value="{{ today }}">
        <input name="distance" type="number" step="0.001" placeholder="Distance [km]">
    </div>
    <div>
        <input name="description" type="text" placeholder="Description [optional]">
        <input type="submit" value="Add">
    </div>
</form>

{% let total = total.total %}
{% include "rides/total.html" %}

{% endblock %}



