<nav class="flex flex-row items-stretch text-lg font-medium h-full w-full overflow-scroll">
    <div class="flex flex-row grow">
        <a class="text-lg font-semibold border-r pr-4 mr-2 flex shrink-0 items-center">
            Bike Service
        </a>
        <a class="font-bold px-2 flex items-center hover:underline" href="/">
            Rides
        </a>
        <a class="font-bold px-2 flex items-center hover:underline" href="/stats">
            Stats
        </a>
        <a class="px-2 flex items-center hover:underline" href="/data">
            Data
        </a>
        <a class="px-2 flex items-center hover:underline" href="/ride/deleted">
            Deleted
        </a>
        <a class="px-2 flex items-center hover:underline" href="/">
            Service
        </a>
    </div>
    <form class="flex flex-row items-stretch">
        <select class="border rounded-lg px-4 m-2" name="bike" id="bike">
            <option value="1">Jindra's Trek Top Fuel 5</option>
            <option value="2">Jindra's Nextbike</option>
        </select>
    </form>
</nav>